<!-- Container -->
<div class="container-fluid" style="margin-top: 20px; max-width: 1100px">
    <!--bg-dark-->
    <div class="card mb-12 mb-12 text-light" *ngIf="movie | async as m"
        style="color: #1a1a1a; background-color: #dddddd;">
        <div class="row g-0">
            <!-- Poster -->
            <div class="text-center col-xs-12 col-sm-12 col-md-3 col-lg-3"
                style="background-color: #eeeeee; padding: 5px 5px 5px 5px;">
                <img src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" class="img-fluid" alt="{{m.title}}">
            </div>

            <!-- Card text -->
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="card-body" style="color: #1a1a1a; background-color: #eeeeee;">

                    <div class="row">
                        <!--Title -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                            <h2 class="card-title">{{m.title}}</h2>
                        </div>

                        <!--Rating and votes -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 ratingVotes" style="font-size: 0.8em">
                            <h2 class="card-title"><span
                                    class="badge rounded-pill bg-success pill">{{m.vote_average}}/10 <i
                                        class="fa fa-star" style="color: #FFD700"></i></span></h2>
                            <h2 class="card-title"><span class="badge rounded-pill bg-info pill">{{m.vote_count}} <i
                                        class="fa fa-thumbs-up" style="color: #ffffff"></i></span></h2>
                        </div>
                    </div>

                    <hr>


                    <!-- Info -->
                    <div class="row">

                        <!-- Accordion -->
                        <div class="accordion" id="accordionExample"
                            style="color: #1a1a1a; background-color: #ddd333; padding: 0px">

                            <!-- Overview -->
                            <div class="accordion-item" style="color: #1a1a1a; background-color: #f2f2f2;">
                                <h2 class="accordion-header" id="headingOne">
                                    <button style="color: #1a1a1a; background-color: #c8c8c8; border: 2px solid #9f9f9f"
                                        class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Sinopsis
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {{m.overview}}
                                    </div>
                                </div>
                            </div>

                            <!-- Details -->
                            <div class="accordion-item" style="color: #1a1a1a; background-color: #f2f2f2;">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button
                                        style="color: #1a1a1a; background-color: #c8c8c8;  border: 2px solid #9f9f9f"
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Detalles
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul class="list">
                                            <li><span>Duración: </span> <span
                                                    class="badge rounded-pill bg-primary detailPill">{{m.runtime}}
                                                    min.</span></li>
                                            <li><span>Fecha de estreno: </span><span
                                                    class="badge rounded-pill bg-primary detailPill">{{m.release_date |
                                                    date:'MMM d, y'}}</span></li>
                                            <li><span>Lenguaje original: </span> <span
                                                    class="badge rounded-pill bg-primary detailPill">{{m.original_language
                                                    | uppercase}}</span></li>
                                            <li><span>Géneros: </span> <span *ngFor="let g of m.genres"
                                                    class="badge rounded-pill bg-primary detailPill">{{g.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Details-->
                        </div>

                    </div>
                    <!-- Info -->


                    <hr>

                    <div class="row">
                        <!-- Add to list button -->
                        <div *ngIf="showAddButton == true" class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                            <button class="btn btn-danger" (click)="addToWatchlist()" style="font-size: 0.8em;">Añadir a Favoritas <i class="fa fa-star"></i></button>
                        </div>
                        <div *ngIf="showAddedButton == true" class="col-xs-12 col-sm-12 col-md-5 col-lg-4"
                            style="margin-bottom: 10px;">
                            <button class="btn btn-danger" (click)="addToWatchlist()"
                                style="font-size: 0.8em; margin-bottom: 5px;">Añadido a Favoritas <i class="fa fa-star"
                                    style="color: #FFD700"></i></button>
                        </div>

                        <div *ngIf="showErrorMessaje == true"
                            class="alert alert-dismissible alert-danger col-xs-12 col-sm-12 col-md-6 col-lg-8"
                            style="margin: 0px;">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <strong></strong> <a [routerLink]="['/log-in']" class="alert-link">Inicia sesión</a> para añadir esta película
                            a tu Lista de Favoritas.
                        </div>

                        <div *ngIf="showSuccessMessaje == true"
                            class="alert alert-dismissible alert-success col-xs-12 col-sm-12 col-md-7 col-lg-9"
                            style="margin-bottom: 0px;">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <strong>Esta película se ha añadido a tu Lista de Favoritas</strong>.
                        </div>
                    </div>

                    <div class="row">
                        <!-- Back button -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <button class="btn btn-success" (click)="goBack()"
                                style="font-size: 0.8em; margin-top: 5px">Atrás <i
                                    class="fa fa-arrow-left"></i></button>
                        </div>
                    </div>

                    <!-- Notifications -->

                </div>
            </div>
            <!-- Card text -->
        </div>
    </div>
</div>
<!-- Container -->


<!-- Related movies section-->
<!-- Container -->
<div class="container" style="margin-top: 65px; max-width: 1200px">

    <h2 class="fw-bolder mb-4" style="color: black; font-size: 1.2em; margin-left: 55px;">También podría interesarte...</h2>

    <!-- Movies -->
    <div class=" d-flex justify-content-center">
        <div class="row" style="max-width: 1000px;">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 moviesLine"
                *ngFor="let relatedMovie of listOfRelatedMovies | async | paginate: { itemsPerPage: 4, currentPage: p }">

                <div class="card cardRelated" style="margin: 5px 0 5px 0">
                    <a *ngIf="relatedMovie.poster_path !== null" [routerLink]="['/movie-details', relatedMovie.id]">
                        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{relatedMovie.poster_path}}"
                            alt="{{relatedMovie.title}}">
                    </a>
                    <img *ngIf="relatedMovie.poster_path == null" class="card-img-top"
                        src="https://dummyimage.com/500x750/ffffff/000000.jpg&text=POSTER+NOT+AVAILABLE"
                        alt="Poster not available">

                    <div class="card-body">
                        <h5 class="card-title titleBox">
                            <a [routerLink]="['/movie-details', relatedMovie.id]"
                                class="titleCard">{{relatedMovie.title}}
                                ({{relatedMovie.release_date |
                                date:'y'}})</a>
                        </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item badge rounded-pill bg-success green_tag">Valoración:
                                {{relatedMovie.vote_average}} <i class="fa fa-star"></i></li>
                            <li class="list-group-item badge rounded-pill bg-success green_tag">Votos:
                                {{relatedMovie.vote_count}} <i class="fa fa-thumbs-up" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Pagination-->
<div class="d-flex justify-content-center" style="margin-top: 10px">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"
        class="stylePagination"></pagination-controls>
</div>


<!-- Footer-->
<footer class="py-5" style="background-color: #1a1a1a;">
    <div class="container">
        <p class="m-0 text-center text-white">MoviesApp 2022</p>
    </div>
</footer>