/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.ratingVotes {
		text-align: left;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.card-title {
		font-size: 1.5em;
	}

	.ratingVotes {
		text-align: left;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.card-title {
		font-size: 1.5em;
	}

	.ratingVotes {
		text-align: left;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.card-title {
		font-size: 1.8em;
	}

	.ratingVotes {
		text-align: right;
	}
}

.pill {
	padding: 10px 20px 10px 20px;
}

.detailPill{
	padding: 10px 20px 10px 20px;
	margin: 3px 0px 3px 3px;
}

.list{
	list-style-type:none;
	padding: 0;
	margin: 0; 

}

/*Related movies*/
.cardRelated {
    background-color: #f8f8f8;
    transition: 1s;
    border: 1px solid;
}

.cardRelated:hover {
    transform: scale(1.03);
}


.titleBox {
    min-height: 60px;
	}

.titleCard {
    text-decoration: none;
	font-size: 0.4em;
}

.title:hover {
    color: #c92c14;
}

.green_tag {
    color: #fff;
    margin: 0px -10px 5px -10px;
    padding: 10px;
    font-size: small;
}

.stylePagination /deep/ .ngx-pagination .current {
    background: #4bbf73;
  }
