<!-- Narvbar -->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Movies<span class="redLogo">App</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/upcoming-movies']">Próximos estrenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/popular-movies']">Populares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/top-rated-movies']">Mejor valoradas</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" *ngIf="userIsLoggued">
            <a class="nav-link btn btn-outline-success" href="#">Log-In</a>
          </li>
          <li class="nav-item" *ngIf="userIsLoggued">
            <a class="nav-link btn btn-outline-success" href="#">Sign-In</a>
          </li>
          <li class="nav-item dropdown" *ngIf="!userIsLoggued">
            <a class="nav-link dropdown-toggle btn btn-outline-success" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Mi cuenta</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Mi Lista</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>-->
<!-- Navbar -->

<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">MoviesApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/upcoming-movies']">Upcoming</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/popular-movies']">Popular</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/top-rated-movies']">Top rated</a></li>
      </ul>
      <div class="d-flex">
        <input #input type="text" class="form-control" placeholder="Search a movie..."
          (keyup.enter)="searchMovies(input.value)" />
        <button type="button" class="btn btn-success" (click)="searchMovies(input.value)">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/log-in']">Log-In</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/sign-in']">Sign-In</a></li>
      </ul>
    </div>
  </div>
</nav>
-->

<!-- Container -->
<div class="container">

  <!-- Search bar -->
  <div class="d-flex searchBar">
    <input #input type="text" class="form-control searchBarInput" placeholder="Introduce un título a buscar..."
      (keyup.enter)="searchMovies(input.value)" />
    <button type="button" class="btn btn-success" (click)="searchMovies(input.value)">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <!-- Title -->
  <h1 [hidden]="hideTitle" style="margin-bottom: 20px;">Novedades</h1>
  <h3 [hidden]="hideResultsFor">Resultados para: "{{movieSearched}}"</h3>



  <!-- Container -->
  <div class="container">

    <!-- Movies -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 moviesLine" *ngFor="let movie of listOfMovies | async">

        <!-- Card -->
        <div class="card">
          <a *ngIf="movie.poster_path !== null" [routerLink]="['/movie-details', movie.id]">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}">
          </a>
          <img *ngIf="movie.poster_path == null" class="card-img-top"
            src="https://dummyimage.com/500x750/ffffff/000000.jpg&text=POSTER+NOT+AVAILABLE" alt="Poster not available">

          <div class="card-body">
            <h5 class="card-title titleBox">
              <a [routerLink]="['/movie-details', movie.id]" class="title">{{movie.title}} ({{movie.release_date |
                date:'y'}})</a>
            </h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item badge rounded-pill bg-success green_tag">Valoración: {{movie.vote_average}} <i
                  class="fa fa-star"></i></li>
              <li class="list-group-item badge rounded-pill bg-success green_tag">Votos: {{movie.vote_count}} <i
                  class="fa fa-thumbs-up" aria-hidden="true"></i></li>
            </ul>
            <!--<p class="card-text" style="margin-top: 20px;"><span style="font-weight: bold;">Fecha de estreno:</span></p>
            <p class="card-subtitle" style="margin-top: -15px;">{{movie.release_date | date:'d MMMM, y'}}</p>-->
            <!--<p class="card-text" style="margin-top: 10px;"><span style="font-weight: bold;">Lenguaje original:</span> {{movie.original_language | uppercase}}</p>-->
          </div>
          <!--<ul class="list-group list-group-flush">
            <li class="list-group-item badge rounded-pill bg-success green_tag">Valoración: {{movie.vote_average}} <i
                class="fa fa-star"></i></li>
            <li class="list-group-item badge rounded-pill bg-success green_tag">Votos: {{movie.vote_count}} <i
                class="fa fa-thumbs-up" aria-hidden="true"></i></li>
          </ul>-->
        </div>
        <!-- Card -->

      </div>
    </div>
    <!-- Movies -->

  </div>
  <!-- Container -->


  <!-- Navigation -->
  <nav class="d-flex justify-content-center">
    <ul [hidden]="hidePagination" class="pagination">
      <li class="page-item" *ngFor="let page of pagination">
        <a class="page-link" (click)="getUpcomingMovies(page)">{{page}}</a>
      </li>
    </ul>
  </nav>

</div>
<!-- Container -->

<!-- Footer-->
<footer class="py-5" style="background-color: #1a1a1a; margin-top: 20px;">
  <div class="container">
    <p class="m-0 text-center text-white">MoviesApp 2022</p>
  </div>
</footer>