<!-- Container -->
<div class="container">

  <!-- Title -->
  <h1 style="margin: 20px 0 40px 0;">Mis películas favoritas</h1>

  <!-- Movies -->
  <div class="row">


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 moviesLine"
      *ngFor="let movie of watchlist | paginate: { itemsPerPage: 4, currentPage: p }">


      <!-- Card -->
      <div class="card">

        <a *ngIf="movie.poster_path !== null" [routerLink]="['/movie-details', movie.id]">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}">
        </a>
        <img *ngIf="movie.poster_path == null" class="card-img-top"
          src="https://dummyimage.com/500x750/ffffff/000000.jpg&text=POSTER+NOT+AVAILABLE" alt="Poster not available">

        <div class="card-body">
          <h5 class="card-title titleBox">
            <a [routerLink]="['/movie-details', movie.id]" class="title">{{movie.title}} ({{movie.release_date |
              date:'y'}})</a>
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item badge rounded-pill bg-success green_tag">Valoración: {{movie.vote_average}} <i
                class="fa fa-star"></i></li>
            <li class="list-group-item badge rounded-pill bg-success green_tag">Votos: {{movie.vote_count}} <i
                class="fa fa-thumbs-up" aria-hidden="true"></i></li>
          </ul>
        </div>
        <button style="margin: 0 10px 10px 10px" type="button" class="btn btn-danger"
          (click)="delete(movie.id)">Eliminar</button>
      </div>
      <!-- Card -->

    </div>

    <div class="alert alert-dismissible alert-success" *ngIf="this.movieDeleted == true">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Se ha eliminado de tu Lista de Peliculas Favoritas.</strong>
    </div>

  </div>
  <!-- Movies -->

  <!--Pagination-->
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"
      class="stylePagination"></pagination-controls>
  </div>

</div>
<!-- Container -->


<!-- Footer-->
<footer class="py-5" style="background-color: #1a1a1a; margin-top: 20px;">
  <div class="container">
    <p class="m-0 text-center text-white">MoviesApp 2022</p>
  </div>
</footer>